In [ ]:
#Q1

import pandas as pd
d = {'apple': 1, 'peach': 6, 'watermelon': 4, 'grapes': 5, 'orange': 2,'banana': 3}
df = pd.DataFrame({'fruits':['apple','melon','strawberry','peach','watermelon','grapes','orange','banana']})

# I want to create a DF, fruits (1st column), Number available (dict)



# Name Qty
# apple 1
# peach 6

In [ ]:
d.values()

In [ ]:
df1 = pd.DataFrame({'fruits': df['fruits'],'total':d})
df1

In [ ]:
val = d.values()

df1=pd.DataFrame({'fruits':['apple','melon','strawberry','peach','wtermelon','grapes','orange','banana'],'QTY': val})

In [ ]:
values = d.values()
new_dataframe = df.assign(Values = values)
new_dataframe

In [ ]:
d3=pd.DataFrame([d])
d3

In [ ]:
df.update(d3)

In [ ]:
df

In [14]:
import pandas as pd
d = {'apple': 1, 'peach': 6, 'watermelon': 4, 'grapes': 5, 'orange': 2,'banana': 3}
df = pd.DataFrame({'fruits':['apple','melon','strawberry','peach','watermelon','grapes','orange','banana']})


## I need to extract the value from dict d
## Comparison - check the fruit column then add the value accordingly. 
    ## If new fruit then add missing value ('missing')

In [ ]:
df['Value'] = df['fruits'].map(d)
df

In [16]:
col = []
for fruit in df['fruits']:
    if fruit in d:
        print(d[fruit])
        col.append(d[fruit])
    else:
        print('missing')
        col.append('missing')

1
missing
missing
6
4
5
2
3

In [17]:
col

[1, 'missing', 'missing', 6, 4, 5, 2, 3]

In [18]:
df['Values'] = col

In [19]:
df

       fruits   Values
0       apple        1
1       melon  missing
2  strawberry  missing
3       peach        6
4  watermelon        4
5      grapes        5
6      orange        2
7      banana        3

In [ ]:
for fruit in df
d.values()

In [20]:
type(df)

pandas.core.frame.DataFrame