In [ ]:
## List Index
a  = ['a','b','c','d','e','f']

## Forward index 
    Starts from 0, +1
        nth index = n-1

## Backward Index 
    Starts from -1,  -1
        nth index - -n

<img src="Lists_index.PNG">

In [5]:
lis = ['a','b','c','d','e','f']

In [6]:
lis[0]

'a'

In [7]:
lis[-6]

'a'

In [9]:
lis[-1]

'f'

In [ ]:
### Slicing 


[start:end:step]

# Start - start index
# end - end index (n-1th character)
# step - step (optional)

In [14]:
lis

['a', 'b', 'c', 'd', 'e', 'f']

In [13]:
lis[0:4:2]

['a', 'c']

In [16]:
lis[-6:-2]

['a', 'b', 'c', 'd']

In [18]:
lis[-2:-6:-1]

['e', 'd', 'c', 'b']

In [22]:
lis[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

* Concatenation `(+)` and Replication `(*)` Operator

In [34]:
a  = ['a','b','c','d','e','f']

In [35]:
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
print((a + ['i','j','k',1000]))

['a', 'b', 'c', 'd', 'e', 'f', 'i', 'j', 'k', 1000]

In [36]:
a.append(['i','j','k',1000])

In [39]:
print(a)

['a', 'b', 'c', 'd', 'e', 'f', ['i', 'j', 'k', 1000]]

In [ ]:
lst[0]

In [ ]:
lst = [[1,2,3,4],
       [5,6,7,8],
       [0,9,8,7]]

In [ ]:
lst[2][2]

In [ ]:
lst = [[[1,0,0],[2,0,0],[3,0,0]],
       [[4,0,0],[5,0,0],[6,0,0]],
       [[7,0,0],[8,0,0],[9,0,0]]]

In [ ]:
lst

In [ ]:
lst[2][1][0]

In [ ]:
lst[2][1]

In [ ]:
#        Roll No, Name, Eng, Hin, Pun, Sci, Math

record = [[1, "Shivam" , 75,  85, 75 , 86 , 86],
          [2, "Divya"  , 85,  85, 76 , 96 , 82],
          [3, "Devansh", 46,  65, 67 , 46 , 96],
          [4, "Dev"    , 43,  55, 68 , 36 , 66]]

In [ ]:
record

In [ ]:
for i in record:
  print(i[0])

In [ ]:
roll_no = int(input("Enter the roll number: "))

for i in record:
  if (i[0] == roll_no):
    print("***********")
    print("Name: ",i[1])
    print("Eng: ",i[2])
    print("Hin: ",i[3])
    print("Pun: ",i[4])
    print("Sci: ",i[5])
    print("Math: ",i[6])

    avg = ((i[2] + i[3] + i[4] + i[5] + i[6])/500)*100

    print("Average: ", avg)

In [57]:
x[::2][::2]

['a', 'j']

In [63]:
x[-5:-2][1][::-1][-3:-1][::-1][1]

'ee'

In [40]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

<img src="Nested_list.PNG">

In [ ]:
data = []

for i in record:
  
  avg = (i[2] + i[3] + i[4] + i[5] + i[6])/5

  if (avg > 90 and avg < 100):
    grade = "A+"
  if (avg > 80 and avg < 90):
    grade = "A"
  if (avg > 70 and avg < 80):
    grade = "B+"
  if (avg > 60 and avg < 70):
    grade = "B"
  if (avg > 50 and avg < 60):
    grade = "C"
  if (avg < 50 ):
    grade = "F"

  data.append([i[0],i[1], avg, grade])

In [ ]:
data

In [ ]:
record

In [ ]:
for i in record:
  print(sum(i[2:])/len(i[2:]))

In [ ]:
record[0][0]

In [ ]:
## List Methods

* `Append`

In [65]:
x = ['a', 'b']
x.append(10.01)
x

['a', 'b', 10.01]

In [66]:
x = ['a', 'b']
new_list = [10.01,10.02,'hello']
x.append(new_list)
x

['a', 'b', [10.01, 10.02, 'hello']]

In [67]:
# Difference in + and append on iterable objects

x = ['a','b']

y = [1,2,3]



x.append(y)
print(x)
print(len(x))

['a', 'b', [1, 2, 3]]
3

In [68]:
x = ['a','b']

y = [1,2,3]

z = x +y
print(z)
print(len(z))

['a', 'b', 1, 2, 3]
5

* `Extend`
    * also adds to the end of a list, but the argument is expected to be an iterable
    * More precisely works as `+`

In [69]:
x = ['a','b']
x.extend([1,2,3])
x

['a', 'b', 1, 2, 3]

* `Insert`
    * Insert at specific location
    * a.insert(`index`, `obj`)

In [70]:
x  = ['a','b','c','d','e','f']


x.insert(3,[1,2,3,4,5])
x

['a', 'b', 'c', [1, 2, 3, 4, 5], 'd', 'e', 'f']

In [75]:
x  = ['a','b','c','d','e','f']


x.insert(10,[1,2,3,4,5])
x

['a', 'b', 'c', 'd', 'e', 'f', [1, 2, 3, 4, 5]]

In [77]:
x.remove([1, 2, 3, 4, 5])

In [78]:
x

['a', 'b', 'c', 'd', 'e', 'f']

* `Remove`
    * Removes element from list, raises exception if not present

In [74]:
x  = ['a','b','c','d','e','f']
#x.remove('b')
x.remove('z')

ValueError: list.remove(x): x not in list

In [73]:
x

['a', 'c', 'd', 'e', 'f']