Type() function

In [1]:
# Python program to 
# demonstrate numeric value
  
a = 5
print("Type of a: ", type(a))
  
b = 5.0
print("\nType of b: ", type(b))
  
c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

Strings

In [ ]:
''' My name is Arpit Jain '''

In [2]:
# Python Program for Creation of String 
    
# Creating a String  with single Quotes 
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ") 
print(String1) 
    

# Creating a String with double Quotes 
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ") 
print(String1) 
print(type(String1))
    
    
# Creating a String with triple Quotes 
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nString with the use of Triple Quotes: ") 
print(String1) 
print(type(String1))
  
# Creating String with triple Quotes allows multiple lines 
String1 = '''Geeks 
            For 
            Life'''
print("\nCreating a multiline String: ") 
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek
<class 'str'>

String with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"
<class 'str'>

Creating a multiline String:
Geeks
            For
            Life

Boolean

In [4]:
# Python program to demonstrate boolean type
  
print(type(True))
print(type(False))
  
print(type(true))

<class 'bool'>
<class 'bool'>

NameError: name 'true' is not defined

In [3]:
5>4

True

In [ ]:
### Data Structures in Python

In [ ]:
{key1:value1 , key2:value2}

`1. Lists`
</br>
`2. Dictionary`
</br>
`3. Tuple`
</br>
`4. Sets`

`Lists`
* Lists in Python are one of the most versatile collection object types available. 
* The other two types are dictionaries and tuples, but they are really more like variations of lists.
</br>

**Properties**
</br>
   * Mutable
   * Can contain any datatype
   * Easily accesible

`Dictionary`
* dictionaries are similar to hash or maps in other languages. 
* It consists of key value pairs. 
* The value can be accessed by a uniquekey in the dictionary.]
</br>

**Properties**
</br>
   * Keys are unique & immutable objects.
</br>

**Syntax**
</br>
`dictionary = {"key name": value}`

</br>
* It is very important to notice that the key must be unique and that no duplicate keys are allowed. 
* If you try to add a duplicate key, python will instead update the previous key rather than adding a duplicate key

`Tuple`
* Python tuples work exactly like Python lists except they are immutable, i.e. they can’t be changed in place.
* They are normally written inside parentheses to distinguish them from lists (which use square brackets), but as you’ll see,parentheses aren’t always necessary. 
* Since tuples are immutable, their length is fixed. 
* To grow or shrink a tuple, a new tuple must be created.
</br>

**Properties**
</br>
   * Immutable objects.
</br>

**Syntax**
</br>
`tuple = (element1 ,element2 ... )`

`Sets`
* Unordered collection of unique objects.
* Set operations such as union (|) , intersection(&), difference(-) can be applied on a set.
* Frozen Sets are immutable i.e once created further data can’t be added to them
* {} are used to represent a set.Objects placed inside these brackets would be treated as a set.

</br>

* Tuples and sets have similar behaviour. The only difference being that tuples can contain duplicate elements.
* It is to be noted that neither tuples or sets can be sorted using python’s inbuilt sort functions, because they are unordered collections

In [ ]:
(1,2,3,4,5)